<div data-bind="visible:isLoading" class="splash">
  <div class="message">
    Loading
  </div>
  <i class="fa fa-spinner fa-spin"></i>
</div>
<section data-bind="visible:!isLoading()">
  <blockquote data-bind="text:description"></blockquote>
   
    <div class="form-group">
    
    <label for="inputEmail3" class="col-sm-1 control-label">Teller</label>
    <div class="col-sm-10">
        <input type="text" data-bind="value:Command" required="required" class="form-control" placeholder="Command">
    </div>
    <div class="col-sm-1">
        <button type="submit" data-bind="click:OnExec" class="btn btn-primary">Submit</button>
    </div>
    
    </div> 
 
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">交易列表</h3>
    </div>
    <div class="panel-body">
      <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
      <button type="button" class="btn btn-primary" data-bind="click: goTrans('cd001')">CD001</button>
      <button type="button" class="btn btn-success" data-bind="click: goTrans('cd002')">CD002</button>

      <button type="button" class="btn btn-success" data-bind="click: loadCustomer">重载客户信息</button>
    </div>
  </div>

  </div>
  <div data-bind="compose:trancationView">
    
  </div>
</section>