<div data-bind="visible:isLoading" class="splash">
  <div class="message">
    Loading
  </div>
  <i class="fa fa-spinner fa-spin"></i>
</div>
<section data-bind="visible:!isLoading()">
  <blockquote data-bind="text:description"></blockquote>

  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">交易列表</h3>
    </div>
    <div class="panel-body">
      <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
      <button type="button" class="btn btn-primary" data-bind="click: goTrans('cd001')">CD001</button>
      <button type="button" class="btn btn-success" data-bind="click: goTrans('cd002')">CD002</button>

      <button type="button" class="btn btn-success" data-bind="click: loadCustomer">重载客户信息</button>
    </div>
  </div>

  </div>
  <div data-bind="visible:Trancations().length>0">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist" data-bind="foreach: Trancations">
      <li data-bind="css:{active:$parent.currentTrans()==tno}">
        <a rel="nofollow" data-bind="attr:{href:'#'+tno}, click: $parent.selectTrans(tno)" role="tab" data-toggle="tab">
          <icon class="fa fa-home"></icon>
          <span data-bind="text:tno"></span>
        </a>
      </li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane fade active in" data-bind="compose:currentViewModel">

      </div>
    </div>
  </div>
</section>