<div data-bind="visible:isLoading" class="splash">
  <div class="message">
    Loading
  </div>
  <i class="fa fa-spinner fa-spin"></i>
</div>
<section data-bind="visible:!isLoading()">
  <blockquote data-bind="text:description"></blockquote>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">交易列表</h3>
    </div>
    <div class="panel-body">
      <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
      <button type="button" class="btn btn-primary" data-bind="click: goTrans('cd001')">CD001</button>
      <button type="button" class="btn btn-success" data-bind="click: goTrans('cd002')">CD002</button>

      <button type="button" class="btn btn-success" data-bind="click: loadDM">查看当前数据层</button>
      <button type="button" class="btn btn-success" data-bind="click: loadTrans">查看交易数据层</button>
    </div>
  </div>

  </div>
  <div data-bind="compose:trancationView">
    
  </div>
</section>